<h2>Books in this library</h2>
<% if @library_books.empty? %>
	<p><em>This library currently has no books in it.</em></p>
<% else %>
	<ul>
	<% @library_books.each do |library_book| %>
		<li>
			<div class="<%= cycle('even', 'odd') %>">
				<%= link_to "Details", library_book.book %>
				<%= link_to 'Remove Book', library_book, method: :delete, class: 'remove-book', remote: true, data: { confirm: 'Are you sure you want to remove this book from ' +@library.name+ '?' } %>
				<%= link_to "Request Book", request_book_library_book_path(library_book), class: 'request-book', method: :put, remote: true %>
			</div>
			<%= library_book.book.title %>
		</li>
	<% end %>
	</ul>
<% end %>


<%= will_paginate(@library_books, params: { controller: "libraries", action: "show" } ) %>